In [ ]:
a=2
b=5
print(a+b)
print(a-b)
print(a*b)                                                                                 #Print Function & Arthimatic Operater
print(a/b)
print(a//b)
print(a**b)

In [1]:
fname="priya"
lname="prajapti"
print(fname, lname)
print("my fname is ",fname,"and lname is ",lname)                                            #String Formating
print("my name is {} {}".format(fname,lname))
print(f"my name is {fname} {lname}")
print("my fname is %s and lname is %s"%(fname,lname))

priya prajapti
my fname is  priya and lname is  prajapti
my name is priya prajapti
my name is priya prajapti
my fname is priya and lname is prajapti

In [ ]:
a=5+7j
b=7+8j                                                                                       #Complex Number
c=a+b
print(c)

In [2]:
a=10
print(float(a))                                                                              #Interchange

10.0

In [3]:
x=567.78
print(int(x))

567

In [4]:
i=6
print(complex(i))

(6+0j)

In [5]:
complex(5,8)

(5+8j)

In [3]:
c=6+8j
print((c))
print(type(c))

(6+8j)
<class 'complex'>

In [4]:
a="'hello"
b="priya',"                                                                             # String Operators    Concatnation
print(a+" "+b,"how are you?")

'hello priya', how are you?

In [7]:
name="priya"
age=20
course="python"
print("my name is",name +" "+ "and my age is",age,"today i learn "+course)

my name is priya and my age is 20 today i learn python

In [6]:
a="No "
print("I must not tell lies,"+a*3)                                                                  #Repitation

I must not tell lies,No No No

In [7]:
a="I am good girl."
print(a[6])                                                                                         #Slice
print(a[7])

o
o

In [8]:
x="hello,what are you doing?"
print(x[:5])
print(x[3:5])                                                                                #Range Slice
print(x[6:9])
print(x[2:])

hello
lo
wha
llo,what are you doing?

In [9]:
i="hi, what is your name?"
print("w" in i)
print("t" in i)                                                                         # in Membership & not in Membership
print("o" not in i)
print("q" not in i)

True
True
False
True

In [10]:
a=455
b="priya"
c=5+7j                                                                                      #Type() Function
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'complex'>

In [11]:
print("hello\nmy self priya prajapati.\ni am from azamgarh.")                                 #\n New Line

hello
my self priya prajapati.
i am from azamgarh.

In [12]:
a="parAdise computer insTitUte"
b="878"
print(a.upper())
print(a.lower())
print(a.title())
print(a.capitalize())
print(a.find("k"))
print(a.index("m"))                                                                    #  Method of String Processing
print(a.count("t"))
print(a.isalpha())
print(b.isdigit())
print(a.isupper())
print(a.islower() ,a.lower())

PARADISE COMPUTER INSTITUTE
paradise computer institute
Paradise Computer Institute
Paradise computer institute
-1
11
3
False
True
False
False paradise computer institute

In [13]:
list=["c","c++","java","puthon"]
print(list)
print(type(list))
print(list[3])                                                                           # List , Type Function 
print(len(list))
print(max(list))
print(min(list))

['c', 'c++', 'java', 'puthon']
<class 'list'>
puthon
4
puthon
c

In [8]:
l=["apple",32,"banana",38,"kiwi","orange"]
print(l)
print(l+l)
print(l*4)
print(l+l*2)
print(l[4])
print(l[1])                                                                               #List Operations
print(l[:3])          
print(l[2:6])
print(l[::])
print("a" in l[0])
print("apple" in l)

['apple', 32, 'banana', 38, 'kiwi', 'orange']
['apple', 32, 'banana', 38, 'kiwi', 'orange', 'apple', 32, 'banana', 38, 'kiwi', 'orange']
['apple', 32, 'banana', 38, 'kiwi', 'orange', 'apple', 32, 'banana', 38, 'kiwi', 'orange', 'apple', 32, 'banana', 38, 'kiwi', 'orange', 'apple', 32, 'banana', 38, 'kiwi', 'orange']
['apple', 32, 'banana', 38, 'kiwi', 'orange', 'apple', 32, 'banana', 38, 'kiwi', 'orange', 'apple', 32, 'banana', 38, 'kiwi', 'orange']
kiwi
32
['apple', 32, 'banana']
['banana', 38, 'kiwi', 'orange']
['apple', 32, 'banana', 38, 'kiwi', 'orange']
True
True

In [15]:
l=["apple","banana","kiwi"]
print(l)
l.append("orange")
print(l)
l.insert(1,"chiku")
print(l)
l.pop()
print(l)
l.remove("kiwi")
print(l)
l.copy()                                                                              # List Functions
print(l)
l.reverse()
print(l)
l.sort()
print(l)
print(len(l))
print(max(l))
print(min(l))

['apple', 'banana', 'kiwi']
['apple', 'banana', 'kiwi', 'orange']
['apple', 'chiku', 'banana', 'kiwi', 'orange']
['apple', 'chiku', 'banana', 'kiwi']
['apple', 'chiku', 'banana']
['apple', 'chiku', 'banana']
['banana', 'chiku', 'apple']
['apple', 'banana', 'chiku']
3
chiku
apple

In [35]:
t=("apple","banana","kiwi")
print(t)
print(len(t))
print(max(t))
print(min(t))
print(type(t))
print(t[1])
print(t+t)                                                                          # Tuple Operations
print(t*2)
print(t[:2])
print("b" in t)
print("banana" in t)
print("kiwi" not in t)
print("h" not in t)
print(t.index("banana"))

('apple', 'banana', 'kiwi')
3
kiwi
apple
<class 'tuple'>
banana
('apple', 'banana', 'kiwi', 'apple', 'banana', 'kiwi')
('apple', 'banana', 'kiwi', 'apple', 'banana', 'kiwi')
('apple', 'banana')
False
True
False
True
1

In [3]:
tup=("priya","priyanka","monika")
li=list(tup)
li.append("riya")
tup=tuple(li)
print(tup)                                                                         # Tuple Functions
# print(type(tup))
# print(type(li))
# print("p" in tup)
# print("priya" in tup)
# print("monika" not in tup)
# print(tup.count("priya"))
# print(tup.index("monika"))

('priya', 'priyanka', 'monika', 'riya')

In [51]:
li=["red","green","yellow","pink"]
li[1][:2]+li[1][2:4].replace("e","i")+li[1][4:]                                        # Replace Function

'griin'

In [11]:
li=["rose","lotus","lili"]
tu=("red","pink","white")
li.extend(tu)
print(li)

['rose', 'lotus', 'lili', 'red', 'pink', 'white']

In [75]:
li=["ds","dde","jjni"]
l="jjhhijiw"
print(li[1])
print(li)
print(list(l))
print(str(li))
print(tuple(l))

dde
['ds', 'dde', 'jjni']
['j', 'j', 'h', 'h', 'i', 'j', 'i', 'w']
['ds', 'dde', 'jjni']
('j', 'j', 'h', 'h', 'i', 'j', 'i', 'w')

In [130]:
dict={"name":"priya","age":20,"gender":"female"}
print(dict)
print(dict["name"])
print(dict.get("age"))
dict["course"]=("python","c","java")
print(dict)
dict.update({"color":{1:"red",2:{"a":"pink","b":"light pink"},3:"yellow"}})
print(dict)
print(dict["color"][2])                                                              # Dictonary & Dictonary Function
print(dict["color"][3][:3])
print(dict["course"][2])
print(dict["color"][3][:4]+dict["color"][3][4:].replace("o","v"))
dict["color"][1]={"a":"dark red","b":"light red"}
print(dict)
print(len(dict))
print(max(dict))
print(min(dict))
print(len(dict["color"]))
print(max(dict["color"]))
print(min(dict["color"]))
print(len(dict["color"][1]))

{'name': 'priya', 'age': 20, 'gender': 'female'}
priya
20
{'name': 'priya', 'age': 20, 'gender': 'female', 'course': ('python', 'c', 'java')}
{'name': 'priya', 'age': 20, 'gender': 'female', 'course': ('python', 'c', 'java'), 'color': {1: 'red', 2: {'a': 'pink', 'b': 'light pink'}, 3: 'yellow'}}
{'a': 'pink', 'b': 'light pink'}
yel
java
yellvw
{'name': 'priya', 'age': 20, 'gender': 'female', 'course': ('python', 'c', 'java'), 'color': {1: {'a': 'dark red', 'b': 'light red'}, 2: {'a': 'pink', 'b': 'light pink'}, 3: 'yellow'}}
5
name
age
3
3
1
2

In [143]:
dict={"name":"priya","age":20,"gender":"female"}
print(dict)
print(dict["name"])
print(dict.get("age"))
dict["course"]=("python","c","java")
print(dict)
dict.update({"color":{1:"red",2:{"a":"pink","b":"light pink"},3:"yellow"}})
print(dict)
print(dict.keys())                                                                         # Other Function
print(dict.values())
print(dict.items())
dict.pop("age")
print(dict)
print(dict.copy())
print(dict.popitem())
print(dict)
dict.clear()
print(dict)

{'name': 'priya', 'age': 20, 'gender': 'female'}
priya
20
{'name': 'priya', 'age': 20, 'gender': 'female', 'course': ('python', 'c', 'java')}
{'name': 'priya', 'age': 20, 'gender': 'female', 'course': ('python', 'c', 'java'), 'color': {1: 'red', 2: {'a': 'pink', 'b': 'light pink'}, 3: 'yellow'}}
dict_keys(['name', 'age', 'gender', 'course', 'color'])
dict_values(['priya', 20, 'female', ('python', 'c', 'java'), {1: 'red', 2: {'a': 'pink', 'b': 'light pink'}, 3: 'yellow'}])
dict_items([('name', 'priya'), ('age', 20), ('gender', 'female'), ('course', ('python', 'c', 'java')), ('color', {1: 'red', 2: {'a': 'pink', 'b': 'light pink'}, 3: 'yellow'})])
{'name': 'priya', 'gender': 'female', 'course': ('python', 'c', 'java'), 'color': {1: 'red', 2: {'a': 'pink', 'b': 'light pink'}, 3: 'yellow'}}
{'name': 'priya', 'gender': 'female', 'course': ('python', 'c', 'java'), 'color': {1: 'red', 2: {'a': 'pink', 'b': 'light pink'}, 3: 'yellow'}}
('color', {1: 'red', 2: {'a': 'pink', 'b': 'light pink'}, 3: 'yellow'})
{'name': 'priya', 'gender': 'female', 'course': ('python', 'c', 'java')}
{}

In [13]:
a="123"
b="priya"
dict=dict.fromkeys(a,b)
print(dict)

{'1': 'priya', '2': 'priya', '3': 'priya'}

In [7]:
car={
    "brand":"Ford",
    "model":"Mustang",
    "year":2020
}
a=car.setdefault("year",1999)
print(a)
x=car.setdefault("color","white")
print(x)

2020
white

In [11]:
car={
    "brand":"Ford",
    "model":"Mustang",
    "year":2020
}
print("b" not in car)

True

In [25]:
t=["aadarsh","gaurav","mandeep","mukesh"]
a,*b,c =t
print(a)
print(b)                                                                              # Unpacking List
print(c)

aadarsh
['gaurav', 'mandeep']
mukesh

In [28]:
dict={"name":"priya","age":20,"gender":"female"}
for x in dict.values():
    print(x)

priya
20
female

In [11]:
num1=int(input("Enetr the first number:"))
num2=int(input("Enter the secind number:"))
print("before swapping value of num1 and num2 =",num1 , num2)
# temp=num1
# num1=num2
# num2=temp

num=num1+num2
num1=num-num1
num2=num-num2
print("After swapping value of num1 and num2 =",num1 , num2)

Enetr the first number:7
Enter the secind number:8
before swapping value of num1 and num2 = 7 8
After swapping value of num1 and num2 = -8 7

In [15]:
num1=int(input("Enetr the first number:"))
num2=int(input("Enter the secind number:"))
num3=int(input("Enetr the third number:"))
print("before swapping value of num1 and num2 and num3 =", num1 , num2 , num3)
# temp=num1
# num1=num2
# num2=num3
# num3=temp

num1,num2,num3=num3,num1,num2

print("After swapping value of num1 and num2 and num3 =", num1 , num2 , num3)

Enetr the first number:6
Enter the secind number:7
Enetr the third number:7
before swapping value of num1 and num2 and num3 = 6 7 7
After swapping value of num1 and num2 and num3 = 7 6 7

In [17]:
km=int(input("Enter the km:"))
ratio=1000
meter=km*ratio
print(km, "kilometer = ", meter,"meter")

Enter the km:4
4 kilometer =  4000 meter

In [1]:
set={"priya",20,20.45,"hello"}
print(set)                                                                        # Set Data Type

{'hello', 'priya', 20.45, 20}

In [2]:
a={"apple","banana",55,434.4}
print(type(a))

<class 'set'>

In [10]:
x={4,6,4,7,2,8,4,"hi","hello","hi"}
print(x)
print(len(x))

{2, 'hello', 4, 6, 7, 8, 'hi'}
7

In [13]:
set={5,6,"priya",("hi",4.5)}
print(set)

{('hi', 4.5), 'priya', 5, 6}

In [37]:
s1={"c","c++","java","python",67}
s1.add("php")
s1.update(["html",78,8])
s2=s1.copy()
s1.discard("jav")
s2.remove("java")                                                                      # Set Methods
print(s2)
print(s1)
s1.clear()
print(s1)

{'python', 67, 'c', 8, 'html', 78, 'c++', 'php'}
{'python', 67, 8, 'java', 'html', 78, 'php', 'c', 'c++'}
set()

In [42]:
s1={1,2,3,6}
s2={6,7,4,2}
print(s1.union(s2))
print(s1&s2)                                                                       # Set Operations
print(s1-s2)
print(s2-s1)
print(s1^s2)

{1, 2, 3, 4, 6, 7}
{2, 6}
{1, 3}
{4, 7}
{1, 3, 4, 7}

In [4]:
tup=("priya","priyanka","monika")
li=list(tup)
li.append("riya")
tup=tuple(li)
print(tup)

('priya', 'priyanka', 'monika', 'riya')