In [1]:
str='''Twinkle, twinkle, little star,
                How I wonder what you are!
                      Up above the world so high,
                      Like a diamond in the sky.
        Twinkle, twinkle, little star,
                How I wonder what you are'''
print(str)

Twinkle, twinkle, little star,
                How I wonder what you are!
                      Up above the world so high,
                      Like a diamond in the sky.
        Twinkle, twinkle, little star,
                How I wonder what you are

In [4]:
#calculate the sum of avarage of the digit prasent in string.


str="acrgg4567f5n"
sum=0
count=0
for char in str:
    if char.isdigit():
        sum=sum+int(char)
        count=count+1
V=sum/count
print(sum)
print("Avarage of sum = ",V)

27
Avarage of sum =  5.4

In [50]:
#reverse a given string.

name="paradise computer institute"
name[::-1]

'etutitsni retupmoc esidarap'

In [8]:
#Find a last position of given substring.

str="paradise computer institute"
print(str[0:8])
str.find("e")

paradise

7

In [57]:
#Remove spacial symbol panctuation from the string.

a="Hello, world!"
b=""
for i in a:
    if i.isalpha() or i.isspace():
        b=b+i
print(b)

Hello world

In [10]:
a="Hello, world!"
for i in a:
    if i
b=a.strip()
print(b)

['Hello,', 'world!']

In [63]:
#Remove all charecter from string accept integer.

x="priya2003p280403ra"
a=""
for i in x:
    if i.isdigit():
        a+=i
print(a)

2003280403

In [64]:
#Reverse a list in python.

li=["apple","banana","kiwi","orange"]
li.reverse()
li

['orange', 'kiwi', 'banana', 'apple']

In [76]:
#Concatnet two list in index wise.

li1=["1","2","3"]
li2=["priya","monika","priyanka"]
li=[i+j for (i,j) in zip(li1,li2)]
print(li)

['1priya', '2monika', '3priyanka']

In [12]:
l1=["a","c","e"]
l2=["b","d","f"]
l1.extend(l2)
print((l1))

['a', 'c', 'e', 'b', 'd', 'f']

In [4]:
#print the value of the key history from the below dictonary.

dict={"name":"priya","age":20,"gender":"female","history":1989}
print(dict["history"])
print(dict.get("history"))

1989
1989

In [5]:
#create a tuple which single items 50.

tuple=(50,)
tuple

(50,)

In [6]:
#Swape two tuple in python.

t1=(1,2,3,4)
t2=("a","b","c","d")
print("Before swapping---\n",t1,"\n",t2)
t1,t2=t2,t1
print("After swapping----\n",t1,"\n",t2)

Before swapping---
 (1, 2, 3, 4)
 ('a', 'b', 'c', 'd')
After swapping----
 ('a', 'b', 'c', 'd')
 (1, 2, 3, 4)

In [7]:
#Display number from a list using loop.

list=[1,2,3,4,5,6,7,8,9,10]
for i in list:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
#calculate the sum of all number from one to given number.

n=int(input("Enter the number:"))
sum=0
for i in range(1,n+1):
    sum=sum+i
print("Sum of all number = ",sum)

Enter the number:5
Sum of all number =  15

In [14]:
#Write a program to multiplication of given number.

print("Multiplication of given number---")
x=1
n=int(input("How many numbers of multilplication?"))
for i in range(1,n+1):
    num=int(input("Enter the numbers  :  "))
    x=x*num
print(x)

Multiplication of given number---
How many numbers of multilplication?3
Enter the numbers  :  3
Enter the numbers  :  2
Enter the numbers  :  3
18

In [20]:
#Count a total number of digit in given number.

num="587465765"
print(len(num))
num.count("5")

9

3

In [21]:
#Copy specific element from one tuple to a new tuple.

t=(1,2,3,"a","b","c")
tu=t[4]
print(tu)

b

In [22]:
t=(10,20,30,40,50,60,70,80)
nt=t[2:5]
print(nt)

(30, 40, 50)

In [8]:
#delete a list of key from dictnory.

dict={"name":"priya","subject":"math","roll no":20,"color":"red"}
li=["name","subject","color"]
for i in li:
     dict.pop(i)
print(dict)

{'roll no': 20}

In [12]:
#Add an item in a tuple in python.

t=(1,2,3,4,5,6,7)
l=list(t)
l.append("9")
t=tuple(l)
print(t)

(1, 2, 3, 4, 5, 6, 7, '9')

In [13]:
tup=("priya","priyanka","monika")
li=list(tup)
li.append("riya")
tup=tuple(li)
print(tup)

('priya', 'priyanka', 'monika', 'riya')

pi=3.14
r=int(input("Enter the radius:"))
Area=pi*r**2
print("Area of Circle = ",Area)

In [4]:
fname=input("Enter the fname:")
lname=input("Enter the lname:")
fname,lname=lname,fname
print(fname,lname)

Enter the fname:priya
Enter the lname:prajapti
prajapti priya

In [6]:
str="123456"
print(tuple(str))
print(list(str))

('1', '2', '3', '4', '5', '6')
['1', '2', '3', '4', '5', '6']

In [1]:
values=(input("num"))
list=values.split(",")
tuple = tuple(list)
print(list)
print(tuple)

num890
['890']
('890',)

In [24]:
list=["apple","banana","kiwi","orange"]
list[0],list[3]=list[3],list[0]
print(list)

['orange', 'banana', 'kiwi', 'apple']

In [25]:
len(list)

4

In [26]:
a=int(input("Enter the number"))
b=int(input("Enter the number"))
print(max(a,b))

Enter the number7
Enter the number8
8

In [27]:
print(min(a,b))

7

In [28]:
li=[1,4,6,"hi","hello"]
"hi" in li

True

In [29]:
1 in li

True

In [30]:
3 in li

False

In [17]:
#find the fectorial of an even number.
n=int(input("Enter the number:"))
f=1
i=1
if n%2==0:
    while i<=n:
        f=f*i
        i+=1
    print(f)

Enter the number:8
40320

In [21]:
#print list in reverse order using a loop.

my_list=[1,2,3,4,5]
new_list=[]
for i in range(len(my_list)):
    new_list.insert(i,my_list[-1])
    my_list.pop(-1)
print(new_list)

[5, 4, 3, 2, 1]

In [17]:
li=[1,2,3,4,5]
nl=[]
for i in range(len(li)):
    nl.insert(i,li[-1])
    li.pop(-1)
print(nl)

5
4
3
2
1
[5, 4, 3, 2, 1]

In [11]:
#use a loop to display element from a given list present at odd index position.

li=[1,2,3,4,5,6,7,8,9]
l=[]
for i in li[1::2]:
    l.append(i)
print(l)

[2, 4, 6, 8]

In [23]:
L = [1, 2, 3, 4, 5, 6, 7]
li = []
count = 0
for i in L:
    if count % 2 == 1:
        li.append(i)
    count += 1
print(li)

[2, 4, 6]

In [30]:
#calculate the cube of all number from 1 to given number.

n=int(input("Enter the number:"))
for i in range(1,n+1):
    cube=i**3
    print(cube)

Enter the number:5
1
8
27
64
125

In [41]:
#change value of key in nested dictonary.

dict={"level1":{"level2":{"levelA":20,"levelB":10}}}
dict["level1"]["level2"]["levelB"]="50"
dict

{'level1': {'level2': {'levelA': 20, 'levelB': '50'}}}

In [8]:
#update the first set with items that do not exist in the second set.
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

In [6]:
#get only unique item from two set.

set1={1,2,3,4,5,6,7}
set2={2,3,5,6,7,9,0,1}
set1.union(set2)

{0, 1, 2, 3, 4, 5, 6, 7, 9}

In [9]:
#remove item from set1 that are not common to both are set1 or set2.

set1={1,2,3,4,5}
set2={2,3,4,7,8,9}
print(set1.intersection_update(set2))
print(set1)

None
{2, 3, 4}

In [1]:
#Add a list of element to a set.

set={1,2,3,4,5}
set.update(["a","b","c"])
set

{1, 2, 3, 4, 5, 'a', 'b', 'c'}

In [9]:
#rename key of a dictonary.

dict={"name":"priya","roll no":20,"subject":"math"}
dict["course"]=dict.pop("subject")
dict

{'name': 'priya', 'roll no': 20, 'course': 'math'}

In [28]:
#create tuple at two element.
i=1
tu=[]
while i<=2:
    tu.append(input("Enter the e"))
    i+=1
re=tuple(tu)
print(re)

Enter the eh
Enter the ej
('h', 'j')

In [41]:
#fibbonaccy sieize in 10 term.

n1=0
n2=1
for i in range(10):
    re=n1+n2
    print(re,end=" ")
    n1=n2
    n2=re

1 2 3 5 8 13 21 34 55 89

In [2]:
thistuple=()
for i in range(1,3):
    thislist=list(thistuple)
    thislist.append(input("Enter the items"))
    thistuple=tuple(thislist)
print(thistuple)

Enter the itemsa
Enter the itemsb
('a', 'b')