In [1]:
list=[x for x in "priya"]
list

['p', 'r', 'i', 'y', 'a']

In [2]:
list=[x**2 for x in range(5)]
list

[0, 1, 4, 9, 16]

In [10]:
celsius=[0,1,2,4,6,37]
fahrenheit=[((9/5)*temp+32) for temp in celsius]
fahrenheit

[32.0, 33.8, 35.6, 39.2, 42.8, 98.60000000000001]

In [12]:
li=[x for x in range(1,51) if x%3==0]
li

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [13]:
sq=[x**2 for x in [x**2 for x in range(1,5)]]
sq

[1, 16, 81, 256]

In [14]:
even=[i for i in range(1,11) if i%2==0]
even

[2, 4, 6, 8, 10]

In [17]:
odd=[x for x in range(1,11) if x%2!=0]
odd

[1, 3, 5, 7, 9]

In [6]:
#use range() to print all the even number from 0 to 10.

In [27]:
st="what is your name"
for i in st.split():
    if i[0]=="n":
        print(i)

name