In [25]:
import json

def read():
    try:
        with open("info.json","r")as f:
            data=json.load(f)
            print(data)
    except ValueError:
        data=[]
    return

def write(data):
    with open("info.json","a")as f:
        json.dump(data,f,indent=2)
        
def add():
    data=read()
    name=input("Enter the name:")
    roll=int(input("Enter the roll number: "))
        
    new_data={"Name":name,"Rollno":roll}
#     data.append(new_data)
    write(new_data)
    return

while True:
    print("1.add\n2.Exit")
    ch=int(input("Enter ch:"))
    if ch==1:
        add()
    elif ch==2:
        print("Exit")
        break
    else:
        print("Invalid")

1.add
2.Exit
Enter ch:1
{'Name': 'priya', 'Rollno': 1}
Enter the name:riya
Enter the roll number: 2
1.add
2.Exit
Enter ch:1
Enter the name:tina
Enter the roll number: 3
1.add
2.Exit
Enter ch:2
Exit

In [19]:
# question 1

def poem():
    with open("poem.txt","r")as f:
        print(f.read())
        f.close()
poem()

twinkal twinkal littel star.
how why wonder what your are.
like a diamond in the sky.

In [21]:
# def read_file():
#     file = open("poem.txt","r")
#     for line in file:
#         print(line, end="")
#     file.close()

# read_file()

In [42]:
# question 2

def count_line():
    count=0
    with open("story.txt","r")as file:
        for line in file:
             if not line[0]=="T":
#             if not line.startswith("T"):
                count +=1
    return count
count_line()

3

In [13]:
# question 3

def count_words():
    with open("story.txt","r")as file:
        a=file.read()
        w=a.split()
        return len(w)
count_words()

27

In [25]:
# question 4

def count_the():
    count=0
    with open("notes.txt","r")as file:
        a=file.read()
        s=a.split()
        for i in s:
            if i=="the":
                count +=1
        return count
count_the()

4

In [36]:
# question 5

def count_words_lessthan_4():
    with open("story.txt","r")as file:
        a=file.read()
        w=a.split()
        for i in w:
            if len(i)<4:
                 print(i,end=" ")
count_words_lessthan_4()

A boy is is a An is in the The sky is and are in the