In [ ]:
a=2
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

In [ ]:
fname="priya"
lname="prajapti"
print(fname, lname)
print("my fname is ",fname,"and lname is ",lname)
print("my name is {} {}".format(fname,lname))
print(f"my name is {fname} {lname}")
print("my fname is %s and lname is %s"%(fname,lname))

In [ ]:
a=5+7j
b=7+8j
c=a+b
print(c)

In [ ]:
a=10
print(float(a))

In [ ]:
x=567.78
print(int(x))

In [ ]:
i=6
print(complex(i))

In [ ]:
complex(5,8)

In [ ]:
c=6+8j
print((c))
print(type(c))

In [ ]:
a="'hello"
b="priya',"
print(a+" "+b,"how are you?")

In [ ]:
name="priya"
age=20
course="python"
print("my name is" +" "+name +" "+ "and my age is",age,"today i learn "+course)

In [ ]:
a="No "
print("I must not tell lies,"+a*3)

In [ ]:
a="I am good girl."
print(a[6])
print(a[7])

In [ ]:
x="hello,what are you doing?"
print(x[:5])
print(x[3:5])
print(x[6:9])
print(x[2:])

In [ ]:
i="hi, what is your name?"
print("w" in i)
print("t" in i)
print("o" not in i)
print("q" not in i)

In [ ]:
a=455
b="priya"
c=5+7j
print(type(a))
print(type(b))
print(type(c))

In [ ]:
print("hello\nmy self priya prajapati.\ni am from azamgarh.")

In [ ]:
a="parAdise computer insTitUte"
b="878"
print(a.upper())
print(a.lower())
print(a.title())
print(a.capitalize())
print(a.find("k"))
print(a.index("m"))
print(a.count("t"))
print(a.isalpha())
print(b.isdigit())
print(a.isupper())
print(a.islower() ,a.lower())

In [ ]:
list=["c","c++","java","puthon"]
print(list)
print(type(list))
print(list[3])
print(len(list))
print(max(list))
print(min(list))

In [ ]:
l=["apple",32,"banana",38,"kiwi","orange"]
print(l)
print(l+l)
print(l*4)
print(l+l*2)
print(l[4])
print(l[1])
print(l[:3])
print(l[2:6])
print(l[::])
print("a" in l)
print("apple" in l)

In [12]:
l=["apple","banana","kiwi"]
print(l)
l.append("orange")
print(l)
l.insert(1,"chiku")
print(l)
l.pop()
print(l)
l.remove("kiwi")
print(l)
l.copy()
print(l)
l.reverse()
print(l)
l.sort()
print(l)
print(len(l))
print(max(l))
print(min(l))

['apple', 'banana', 'kiwi']
['apple', 'banana', 'kiwi', 'orange']
['apple', 'chiku', 'banana', 'kiwi', 'orange']
['apple', 'chiku', 'banana', 'kiwi']
['apple', 'chiku', 'banana']
['apple', 'chiku', 'banana']
['banana', 'chiku', 'apple']
['apple', 'banana', 'chiku']
3
chiku
apple

In [35]:
t=("apple","banana","kiwi")
print(t)
print(len(t))
print(max(t))
print(min(t))
print(type(t))
print(t[1])
print(t+t)
print(t*2)
print(t[:2])
print("b" in t)
print("banana" in t)
print("kiwi" not in t)
print("h" not in t)
print(t.index("banana"))

('apple', 'banana', 'kiwi')
3
kiwi
apple
<class 'tuple'>
banana
('apple', 'banana', 'kiwi', 'apple', 'banana', 'kiwi')
('apple', 'banana', 'kiwi', 'apple', 'banana', 'kiwi')
('apple', 'banana')
False
True
False
True
1

In [15]:
tup=("priya","priyanka","monika")
li=list(tup)
li.append("riya")
tup=tuple(li)
print(tup)
print(type(tup))
print(type(li))
print("p" in tup)
print("priya" in tup)
print("monika" not in tup)

('priya', 'priyanka', 'monika', 'riya')
<class 'tuple'>
<class 'list'>
False
True
False

In [51]:
li=["red","green","yellow","pink"]
li[1][:2]+li[1][2:4].replace("e","i")+li[1][4:]

'griin'

In [61]:
li=["rose","lotus","lili"]
tu=("red","pink","white")
li.extend(tu)
print(li)

['rose', 'lotus', 'lili', 'red', 'pink', 'white']

In [75]:
li=["ds","dde","jjni"]
l="jjhhijiw"
print(li[1])
print(li)
print(list(l))
print(str(li))
print(tuple(l))

dde
['ds', 'dde', 'jjni']
['j', 'j', 'h', 'h', 'i', 'j', 'i', 'w']
['ds', 'dde', 'jjni']
('j', 'j', 'h', 'h', 'i', 'j', 'i', 'w')

In [130]:
dict={"name":"priya","age":20,"gender":"female"}
print(dict)
print(dict["name"])
print(dict.get("age"))
dict["course"]=("python","c","java")
print(dict)
dict.update({"color":{1:"red",2:{"a":"pink","b":"light pink"},3:"yellow"}})
print(dict)
print(dict["color"][2])
print(dict["color"][3][:3])
print(dict["course"][2])
print(dict["color"][3][:4]+dict["color"][3][4:].replace("o","v"))
dict["color"][1]={"a":"dark red","b":"light red"}
print(dict)
print(len(dict))
print(max(dict))
print(min(dict))
print(len(dict["color"]))
print(max(dict["color"]))
print(min(dict["color"]))
print(len(dict["color"][1]))

{'name': 'priya', 'age': 20, 'gender': 'female'}
priya
20
{'name': 'priya', 'age': 20, 'gender': 'female', 'course': ('python', 'c', 'java')}
{'name': 'priya', 'age': 20, 'gender': 'female', 'course': ('python', 'c', 'java'), 'color': {1: 'red', 2: {'a': 'pink', 'b': 'light pink'}, 3: 'yellow'}}
{'a': 'pink', 'b': 'light pink'}
yel
java
yellvw
{'name': 'priya', 'age': 20, 'gender': 'female', 'course': ('python', 'c', 'java'), 'color': {1: {'a': 'dark red', 'b': 'light red'}, 2: {'a': 'pink', 'b': 'light pink'}, 3: 'yellow'}}
5
name
age
3
3
1
2

In [143]:
dict={"name":"priya","age":20,"gender":"female"}
print(dict)
print(dict["name"])
print(dict.get("age"))
dict["course"]=("python","c","java")
print(dict)
dict.update({"color":{1:"red",2:{"a":"pink","b":"light pink"},3:"yellow"}})
print(dict)
print(dict.keys())
print(dict.values())
print(dict.items())
dict.pop("age")
print(dict)
print(dict.copy())
print(dict.popitem())
print(dict)
dict.clear()
print(dict)

{'name': 'priya', 'age': 20, 'gender': 'female'}
priya
20
{'name': 'priya', 'age': 20, 'gender': 'female', 'course': ('python', 'c', 'java')}
{'name': 'priya', 'age': 20, 'gender': 'female', 'course': ('python', 'c', 'java'), 'color': {1: 'red', 2: {'a': 'pink', 'b': 'light pink'}, 3: 'yellow'}}
dict_keys(['name', 'age', 'gender', 'course', 'color'])
dict_values(['priya', 20, 'female', ('python', 'c', 'java'), {1: 'red', 2: {'a': 'pink', 'b': 'light pink'}, 3: 'yellow'}])
dict_items([('name', 'priya'), ('age', 20), ('gender', 'female'), ('course', ('python', 'c', 'java')), ('color', {1: 'red', 2: {'a': 'pink', 'b': 'light pink'}, 3: 'yellow'})])
{'name': 'priya', 'gender': 'female', 'course': ('python', 'c', 'java'), 'color': {1: 'red', 2: {'a': 'pink', 'b': 'light pink'}, 3: 'yellow'}}
{'name': 'priya', 'gender': 'female', 'course': ('python', 'c', 'java'), 'color': {1: 'red', 2: {'a': 'pink', 'b': 'light pink'}, 3: 'yellow'}}
('color', {1: 'red', 2: {'a': 'pink', 'b': 'light pink'}, 3: 'yellow'})
{'name': 'priya', 'gender': 'female', 'course': ('python', 'c', 'java')}
{}

In [1]:
a="123"
b="priya"
dict=dict.fromkeys(a,b)
print(dict)

{'1': 'priya', '2': 'priya', '3': 'priya'}

In [7]:
car={
    "brand":"Ford",
    "model":"Mustang",
    "year":2020
}
a=car.setdefault("year",1999)
print(a)
x=car.setdefault("color","white")
print(x)

2020
white

In [11]:
car={
    "brand":"Ford",
    "model":"Mustang",
    "year":2020
}
print("b" not in car)

True

In [25]:
t=["aadarsh","gaurav","mandeep","mukesh"]
a,*b,c =t
print(a)
print(b)
print(c)

aadarsh
['gaurav', 'mandeep']
mukesh

In [28]:
dict={"name":"priya","age":20,"gender":"female"}
for x in dict.values():
    print(x)

priya
20
female